@model Soundville.Presentation.Models.Account.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="form-container">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <h2>Please Sign In</h2>
        if (TempData["Message"] != null)
        {
            <p>@TempData["Message"]</p>
        }
        @Html.ValidationSummary(true)

        @Html.TextBoxFor(m => m.Email, new { @class = "one-fulls", placeholder = "Email" })

        @Html.PasswordFor(m => m.Password, new { @class = "one-fulls", placeholder = "Password" })

        <input type="submit" value="Sign in">
        <a href="@Url.Action("Register", "Account")">Register</a>

    }
</div>