@model Soundville.Presentation.Models.Stations.StationEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">
    @using (Html.BeginForm("Edit", "Station", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)

        <h3>Complete Information About You Station</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <h3>Basic Info</h3>

        @Html.TextBoxFor(m => m.Name, new { @class = "one-fulls", placeholder = "Name" })

        <hr />
        <h3>Photo</h3>
        <div class="wrap-edit-avatar">
            <img class="edit-avatar" src="@ViewBag.ImageSrc" alt="" />
            @Html.TextBoxFor(m => m.Image, new { @class = "image-load", type = "file" })
        </div>
        <input type="submit" value="Save" />
    }
</div>
