@model Soundville.Presentation.Models.Stations.ViewStationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/Custom/Player.js"></script>
    <script src="http://www.wavesurfer.fm/dist/wavesurfer.min.js"></script>
}

<div class="form-container">
    @Html.HiddenFor(m => m.Station.Id)

    <div class="wrap-station">
        <div class="station-info">
            @{
                string imageSrc;
                if (Model.Station.ImageFileName != null)
                {
                    imageSrc = ViewBag.PartialImageUrl + Model.Station.ImageFileName;
                }
                else
                {
                    imageSrc = @ViewBag.DefaultImageSrc;
                } 
             }
            <img class="station-avatar" src= @imageSrc alt="" />
            <h3 class="station-name">@Model.Station.Name</h3>
        </div>
        <div class="buttons">
            <div class="broadcast-wrap">
                <a id="brcasting" href="#" title="Broadcasting">
                    <div class="butMin">
                        <div id="broadcasting" class="butIconMin"></div>
                    </div>
                </a>
                <a id="sbrcasting" href="#" title="Stop broadcasting">
                    <div class="butMin">
                        <div id="stop-broadcasting" class="butIconMin"></div>
                    </div>
                </a>
            </div>
            <a class="button" href="@Url.Action("SearchPage", "StationSong", new { id = Model.Station.Id })">Search</a>
        </div>
    </div>
    <hr/>

    <div class="player">
        <div id="wave"></div>
        <div id="trackInfo">
            <div id="error"></div>
        </div>
        <div class="bar">
            <a id="pl" href="#" title="Play">
                <div class="but">
                    <div id="play" class="butIcon"></div>
                </div>
            </a>
            <a id="pa" href="#" title="Pause">
                <div class="but">
                    <div id="pause" class="butIcon"></div>
                </div>
            </a>
        </div>
        <div class="range">
            <div id="vol"></div>
            <div id="rangeVal">
                <div class="ui-slider-range ui-slider-range-min"></div>
                <a class="ui-slider-handle" href="#"></a>
            </div>
            <div id="valNumb">
                <div id="val"></div>
            </div>
        </div>
    </div>
    <div class="playL">
        <ul>
            @{
                foreach (var song in Model.Songs)
                {
                    <li>
                        <a href="#" class="playlist-song">
                            <span class="song-artist">@song.Song.Artist - </span>
                            <span class="song-title">@song.Song.Title</span>
                        </a>
                        <audio preload="none">
                            <source src="@song.SongUrl" />
                        </audio>
                    </li>
                    <hr/>
                }
            }
        </ul>
    </div>

    @*<div class="wrap-paging">
        <ul>
            <li>
                <a class="paging button" href="">1</a>
            </li>
        </ul>
    </div>*@
</div>
